<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ghasemiarani.iman.inter_app_communication">

    <application>
        <receiver
            android:name=".InterReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.RESPONSE" />
                <action android:name="${applicationId}.REQUEST" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
